body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button{
    width: 40px;
    height: 40px;
    border: solid;
    border-radius: 5px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-zero{
    width: 96px;
    height: 40px;
    border: solid;
    border-radius: 5px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.button-separation{
   padding:5px;
}

.layout-calculator{
    border: solid;
    border-radius: 5px;
    border-color: black;
    padding: 5px;
}
.layout-screen{
    border: solid;
    border-radius: 5px;
    border-color: black;
    padding: 30px;
}
